<section class="step-layout">
  <h3>Informations générales</h3>

  <div class="form-grid">
    <div class="field-block col-span-2">
      <label>Titre</label>
      <input [formField]="group().title" />
      @if (group().title().touched() && group().title().invalid()) {
        <small>Titre requis, minimum 3 caractères.</small>
      }
    </div>

    <div class="field-block col-span-2">
      <label>Description</label>
      <textarea rows="5" [formField]="group().description"></textarea>
      @if (group().description().touched() && group().description().invalid()) {
        <small>Description requise, minimum 10 caractères.</small>
      }
    </div>

    <div class="field-block">
      <label>Catégorie</label>
      <input [formField]="group().category" />
    </div>

    <div class="field-block">
      <label>Marque</label>
      <input [formField]="group().brand" />
    </div>

    <div class="field-block col-span-2">
      <label>SKU</label>
      <input [formField]="group().sku" />
    </div>
  </div>
</section>
